<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css" th:href="@{./css/bootstrap.min.css}" />
    
</head>
<body>
	<div class="container">
	<h1>BookList</h1>
    <table id="books" class="table table-striped">
		<tr>
		    <th>Author</th>
		    <th>Title</th>
		    <th>ISBN</th>
		    <th>Year</th>
		    <th>Category</th>
		    <th></th>
		    <th></th>  
		      
		</tr>  
    	<tr th:each = "book : ${books}">
    		<td th:text="${book.author}"></td>
    		<td th:text="${book.title}"></td>
    		<td th:text="${book.isbn}"></td>
       		<td th:text="${book.year}"></td>
       		<td th:text="${book.category.name}"></td> 		
       		<td><a th:href="@{/delete/{id}(id=${book.id})}"><button  class="btn btn-danger">Delete</button></a></td>
       		<td><a th:href="@{/edit/{id}(id=${book.id})}"><button  class="btn btn-success">Edit</button></a></td>
    	</tr>
     </table>
     <a href="/add" ><button class="btn btn-success">Add Book</button></a>    	
     
     </div>
</body>
</html>